<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@hindsightery" />
<meta name="twitter:title" content="Form Validation in the GOV.UK Protoype kit">
<meta name="twitter:description" content="how to implement form validation in your protoype.  installation, setup, code examples.
">
<meta name="twitter:image" content="https://raw.githubusercontent.com/LandRegistry/govuk-prototype-kit-form-validation/master/app/assets/images/unfurl.png">
<meta name="twitter:image:alt" content="Form Validation in the GOV.UK Protoype kit">

<meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - Form validation in the GOV.UK Protoype kit{% else %}Form validation in the GOV.UK Protoype kit{% endif %}"/>
<meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}How to implement form validation in your GOV.UK protoype. Installation, setup, code examples.{% endif %}"/>
<meta property="og:image" content="https://raw.githubusercontent.com/LandRegistry/govuk-prototype-kit-form-validation/master/app/assets/images/unfurl.png" />

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
