<meta property="og:title" content="Form Validation in the GOV.UK Protoype kit" />
<meta property="og:description" content="how to implement form validation in your protoype.  installation, setup, code examples." />
<meta property="og:image" content="https://github.com/LandRegistry/govuk-prototype-kit-form-validation/blob/master/app/assets/images/unfurl.png" />

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
