{% extends "layout.html" %}

{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Adding the javascript files</h1>

      <h2 class="govuk-heading-m">Download the javascript files</h2>
      <p class=govuk-body">Download and unzip the following file:</p>

      <a class="govuk-body" href="/public/documents/Form-validation-javascripts.zip" Download>Form validation javascript (zip)</a>
      <br>
      <br>
      <p class="govuk-body">Once unzipped, add the files to <code class="app-prose-scope"> app/assets/javascripts</code> in your editor.




      <h2 class="govuk-heading-m">Adding scripts</h2>
      <p class="govuk-body">To link make sure the app includes the above javascript files. Go to the <code class="app-prose-scope">views/includes</code> folder and open the <code class="app-prose-scope"> scripts.html</code> file.<br><br> Add the following underneath the existing jquery script:</p>

        <code class="app-prose-scope">
        &lt;script&gt; src="/node_modules/validate.js/validate.min.js" &lt;/script&gt <br>
        &lt;script&gt; src="/public/javascripts/custom-validator.js" &lt;/script&gt <br>
        &lt;script&gt; src="/public/javascripts/form-validation.js" &lt;/script&gt <br>
        </code>
      <br>
      <br>

      <h2 class="govuk-heading-m">Save and restart</h2>
      <p class="govuk-body">Save the changes in your text edtior, then restart the prototype in terminal.</p>
      <br>

      <h2 class="govuk-heading-m">Installation complete</h2>
      <p class="govuk-body">Your prototype is now ready to validate forms!</p>

      <a  class="govuk-body" href="#setup"> Back to documentation </a>

{% endblock %}
