
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit with validation
        <span class="govuk-caption-xl">Built in kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}


      <h2 class="govuk-heading-m">Form validation example and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>form <a href="validation-example">validation demonstration</a></li>
        <li>how to <a href="validation-documentation">include the code in your kit and validate form inputs</a></li>
      </ul>

      <p>This example code is built in the current kit - {{releaseVersion}} - October 2019.  You could use this repo as a starting point for your protoype.  But the gov kit will change - so always make a call as to whether to <a href="https://govuk-prototype-kit.herokuapp.com/docs">install the latest fresh kit from the design system</a> - How do i know <a href="https://github.com/alphagov/govuk-prototype-kit/releases">what version number the current gov kit is?</a></p> 

      <h2 class="govuk-heading-m">Standard kit examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
