{% extends "layout.html" %}

{% block pageTitle %}
  Validation page template - Form validation in the GOV.UK Protoype kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	<h1 class="govuk-heading-xl">Valdation page template</h1>

    	<p>This is what you will need to add to your user input pages, to get the form field validation rules working.</p>

    	<p>You should have already added the <a href="getting-started">core validation code</a> into your kit</p>
      
    	<p>We are using the <a href="validation-text-not-empty">Text input isn't empty page</a> as an example</p>

    	<p>This example shows the Nunjucks macro version of the design system components - if you are using the HMTL code, ignore the Nunjucks steps below</p>

    	<p><img alt="source code of this page" width="100%" src="public/images/template-source.png"></p>

    	<p>We have a basic template page from the kit - with 2/3rds layout, and we have added a form and a button</p>
    	<p>line 10 - 
    			<span class="app-prose-scope">
          <code >&lbrace;&percnt; from &quot;govuk/components/input/macro.njk&quot; import govukInput &percnt;&rbrace;</code></span> this is the specific Nunjucks macro for <a href="https://design-system.service.gov.uk/components/text-input/">text input component</a> - you would replace this with the component you want from the design system, or if you have multiple input fields on a page, group all the macros here
      </p>
      <p>line 15 - <span class="app-prose-scope"><code>&lt;form action=&quot;/form-handler&quot; method=&quot;post&quot; novalidate data-validate=&apos;my-form-validation&apos;&gt;</code></span>.  We are using a form, and we are POSTing the form.  The form POSTS, for us, to a route where we can do server side code - for example we would want to <a href="/docs/examples/branching">branch to different pages depending on a radio choice</a>. You can set the action to the next page in your journey.
      <p>The <span class="app-prose-scope"><code>novalidate</code></span> attribute is needed, (to disable any form validation other than ours), and we tell the form to use our validation code with the <span class="app-prose-scope"><code>data-validate=&apos;my-form-validation&apos;</code></span> attribute</p>
      <p>lines 20 to 29 are the Nunjucks code for a text input box.  The name attribute is important.  Replace these with your HMTL if not using the Nunjucks from the design system</p>
      <p>lines 37 to 45 are the validation rules. You need the <span class="app-prose-scope"><code>&lt;script type=&quot;application/json&quot; id=&quot;my-form-validation&quot;&gt;</code></span> to be as shown here, ensuring the value of the id matches the data-validate attribute of the form tag.</p>
      <p>This script tag and json contents, can be copied from our <a href="validation-documentation#component-rules">validation examples</a>, and from the <a href="https://validatejs.org/#validators">validate.js documentation</a></p>
      <p>This specific validation json tells the valdation code to: 
      	<br>- look for the component named &quot;event-name&quot; (the name attribute of our input box). 
      	<br>- presence says run the 'it must have a value' validation code, and 
      	<br>- 'message' is the error message to display if the validation fails.  Note the &Hat; is required to override the default message behavior - remove to see what it does</p>


    </div>
</div>

{% endblock %}
