{% extends "layout.html" %}

{% block pageTitle %}
  Text input isn't empty
{% endblock %}

{% block content %}


{% from "govuk/components/input/macro.njk" import govukInput %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="/form-handler" method="post" novalidate data-validate='my-form-validation'>

	      <!-- text input -->
	      <h1 class="govuk-heading-xl">Text input isn't empty</h1>	      

				{{ govukInput({
				  label: {
				    text: "Event name"
				  },
				  hint: {
				    text: "The name you’ll use on promotional material."
				  },
				  id: "event-name",
				  name: "event-name"
				}) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <script type="application/json" id="my-form-validation">
			  { 		
			  	"event-name": {
			      "presence": {
			        "message": "^Enter an event name"
			      }
			    }
			  }
			</script>

			<h3 class="govuk-heading-m govuk-!-margin-top-9">Make this page yourself / add this to your page</h3>
			<p><a href="validation-page-template">Set the page up right</a>, and then add the following validation script block.</p>
			<p class="app-prose-scope">
        <code >
        	&lt;script type=&quot;application&sol;json&quot; id=&quot;my-form-validation&quot;&gt;<br>
			  &nbsp;&nbsp;&lbrace;<br>		
			  	&nbsp;&nbsp;&nbsp;&nbsp;&quot;event-name&quot;: &lbrace;<br>
			      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;presence&quot;: &lbrace;<br>
			      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;message&quot;: &quot;^Enter an event name&quot;<br>
			      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rbrace;<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&rbrace;<br>
			  &nbsp;&nbsp;&rbrace;<br>
			&lt;&sol;script&gt;

        </code>
      </p>
			<p>View the source of this page in the browser, or <span class="govuk-visually-hidden">view the page source code</span> <a href="https://github.com/LandRegistry/govuk-prototype-kit-form-validation/blob/master/app/views/validation-text-not-empty.html"> on github</a></p>
    </div>
</div>

{% endblock %}
