
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Add validation to your prototype
      </h1>
      <p class="govuk-body-l">
			There are various types of validation you can do - for example, to ensure the field isn't blank, if a checkbox or radio button has been selected, if what's entered is long enough, if it's a pattern like a postcode.</p>
      <p>If you want to constrain or validate how much text can be inputted - there are also other ways to do this, such as setting a field length attribute (minlength or maxlength), or using the character count govuk code for the text area.</p>
      <p>The validation uses the javascript library validate.js, which contains all these <a href="https://validatejs.org/#validators">standard validators and the ability to create custom validation rules</a>.  The documentation can be hard to read - to translate into how to use in this kit, so we've included common examples.</p>
      <p>If you need help, ask Ros or Andy.</p>
      <p>If you find a bug, make a new example, or can improve this documentation - <a href="https://github.com/LandRegistry/govuk-prototype-kit-form-validation">please grab it, and merge</a> your lovely improvement in.</p> 

      <h2 class="govuk-heading-l">Adding the validation code to the kit</h2>
      <p>Firstly you need to add some files and lines of code into the core of the kit</p>

      <h2 class="govuk-heading-l">Adding validation rules to an imput field</h2>
      <p>Now your are ready to add validation to your individual form pages</p>

      <h3 class="govuk-heading-m">Example input fields and types of validation</h3>

			<ul class="govuk-list govuk-list--bullet">
			  <li>Text input: <br>is not empty, length, email address, passwords match</li>
			  <li>Radios: <br>one has been selected</li>
			  <li>Checkboxes: <br>one has been selected</li>
			  <li>Textarea: <br>is not empty</li>
			  <li>Select: <br>an item has been selected</li>
			  <li>Date input pattern: <br>fields are not empty/date is valid</li>
			  <li>Fieldset - multiple fields like address: <br>fields are not empty, is a postcode</li>
			</ul>



    </div>
</div>

{% endblock %}
