
{% extends "layout.html" %}

{% block pageTitle %}
  Date Input validation in the GOV.UK Protoype kit
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Date Input
      </h1>
      <p class="govuk-body-l">
       	Validation for date - checks presence of the 3 fields (day, month, year), and if the thing looks like a valid date - using moment.js
      </p>
      <div class="govuk-inset-text">
	      <p>
	       	This is not the same (complete) <a href="https://design-system.service.gov.uk/components/date-input/">validation and error messaging that the design system suggests</a> - but we think is good enough for basic proto work/testing with users.  The code could be extended to check for past and future dates
	      </p>
	    </div>


      <hr>

      <form action="/form-handler" method="post" novalidate data-validate='my-form-validation'>

	      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

				{{ govukDateInput({
				  id: "passport-issued",
				  namePrefix: "passport-issued",
				  fieldset: {
				    legend: {
				      text: "When was your passport issued?",
				      isPageHeading: true,
				      classes: "govuk-fieldset__legend--xl"
				    }
				  },
				  hint: {
				    text: "For example, 12 11 2007"
				  }
				}) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <script type="application/json" id="my-form-validation">

			  { 		
			  	"passport-issued-day": {
			  		"date": {
			  			"namePrefix": "passport-issued",
			  			"message": "^Passport issued should be a valid date"
			  		}
			  	}
			  }
			</script>

			<h3 class="govuk-heading-m govuk-!-margin-top-9">Make this page yourself / add this to your page</h3>

			<p><a href="validation-page-template">Set the page up right</a></p>

			<p>add your <a href="https://design-system.service.gov.uk/components/date-input/">date boxes (Nunjucks) or HTML version</a></p>

			<p>add the validation script block<img alt="source code of this page" width="100%" src="public/images/validation-json-date-input.png"></p>

			<p>the validation json is set only on the first input box (day).  The custom code in app/assets/javascripts/date-validator.js does the rest, checking all three inputs and and highlighting the errors as per the design system.</p>

			<p>View the source of this page in the browser, or <span class="govuk-visually-hidden">view the page source code</span> <a href="https://github.com/LandRegistry/govuk-prototype-kit-form-validation/blob/master/app/views/validation-date.html"> on github</a></p>

    </div>
</div>

{% endblock %}
