
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Conditional content
      </h1>


      <form action="/form-handler" method="post" novalidate data-validate='my-form-validation'>

	      {% from "govuk/components/radios/macro.njk" import govukRadios %}
				{% from "govuk/components/input/macro.njk" import govukInput %}

				{% set emailHtml %}
				{{ govukInput({
				  id: "contact-by-email",
				  name: "contact-by-email",
				  type: "email",
				  classes: "govuk-!-width-one-third",
				  label: {
				    text: "Email address"
				  },
				  attributes: {
				    spellcheck: "false"
				  }
				}) }}
				{% endset -%}

				{% set phoneHtml %}
				{{ govukInput({
				  id: "contact-by-phone",
				  name: "contact-by-phone",
				  type: "tel",
				  classes: "govuk-!-width-one-third",
				  label: {
				    text: "Phone number"
				  }
				}) }}
				{% endset -%}

				{% set textHtml %}
				{{ govukInput({
				  id: "contact-by-text",
				  name: "contact-by-text",
				  type: "tel",
				  classes: "govuk-!-width-one-third",
				  label: {
				    text: "Mobile phone number"
				  }
				}) }}
				{% endset -%}

				{{ govukRadios({
				  idPrefix: "how-contacted-conditional",
				  name: "how-contacted",
				  fieldset: {
				    legend: {
				      text: "How would you prefer to be contacted?",
				      isPageHeading: true,
				      classes: "govuk-fieldset__legend--xl"
				    }
				  },
				  hint: {
				    text: "Select one option."
				  },
				  items: [
				    {
				      value: "email",
				      text: "Email",
				      conditional: {
				        html: emailHtml
				      }
				    },
				    {
				      value: "phone",
				      text: "Phone",
				      conditional: {
				        html: phoneHtml
				      }
				    },
				    {
				      value: "text",
				      text: "Text message",
				      conditional: {
				        html: textHtml
				      }
				    }
				  ]
				}) }}

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <script type="application/json" id="my-form-validation">

			  { 		
			  	"how-contacted": {
			  		"presence": true
			  	}, 	
			  	"contact-by-email": {
			  		"conditionallyRequired": {
			  			"dependentOn": {
			  				"name": "how-contacted",
			  				"value": "email"
			  			},
			  			"message": "^Please enter an email"
			  		}
			  	},
			  	"contact-by-phone": {
			  		"conditionallyRequired": {
			  			"dependentOn": {
			  				"name": "how-contacted",
			  				"value": "phone"
			  			},
			  			"message": "^Please enter a phone number"
			  		}
			  	},
			  	"contact-by-text": {
			  		"conditionallyRequired": {
			  			"dependentOn": {
			  				"name": "how-contacted",
			  				"value": "text"
			  			},
			  			"message": "^Please enter your mobile phone number"
			  		}
			  	}
			  }
			</script>

			<h3 class="govuk-heading-m govuk-!-margin-top-9">Make this page yourself / add this to your page</h3>

			<p><a href="validation-page-template">Set the page up right</a></p>

			<p>add your <a href="https://design-system.service.gov.uk/components/radios/index.html#conditionally-revealing-content">radios and inputs boxes (Nunjucks) or HTML version</a></p>

			<p>add the validation script block for these two fields<img alt="source code of this page" width="100%" src="public/images/validation-json-conditional.png"></p>

			<p>the json tells the validator to 1) check that a radio option is selected, and 2) check the input box for the selected option is not blank.</p>

			<p>View the source of this page in the browser, or <span class="govuk-visually-hidden">view the page source code</span> <a href="https://github.com/LandRegistry/govuk-prototype-kit-form-validation/blob/master/app/views/validation-conditionally-required.html"> on github</a></p>

    </div>
</div>

{% endblock %}
